// Place all the styles related to the headline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#canvas {
  display: none;
}
#spinner {
  display: inline-block;
  margin-left: 10px;
}
#chart 
{
    width: 900px;
    height: 600px;
    margin-top: 85px;

    .nv-lineChart circle.nv-point {
      fill-opacity: 1;
    }
}
